.slider {
  overflow: hidden;
  position: relative;
}
.slider .slide-list {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slider .slide-list .slide {
  flex: 1 0 33,4%;
  position: relative;
}
.slider .slide-list .slide .slide-image {
  display: flex;
  margin: 0;
  max-height: 300px;
  width: 100%;
  object-fit: contain;
}